body{
    text-align: center;
    background-color: grey;
}
img {
    width: 350px;
    height: 350px;
    float: center;
}

.vital {
    color: black;
}
.jumbotron{
    background-color: lightblue;
    padding: 15px;
    
}
.footer{
    background-color: rgb(103, 103, 228);
    padding: 15px;
}